*::-webkit-scrollbar {
    display: none;
}
*::-moz-scrollbar {
    display: none;
}
* {
    font-family: 'Roboto';
    color: black;
    padding: 0;
    margin: 0;
    user-select: none;
}
body {
    background-color: #E5E1Da;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;    
    background-color: #92C7CF;
}
header > a {
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    padding: 10px 0px;
}
input:focus {
    outline: none;
}