nav {
    width: 100vw;
    height: clamp(40px, 8vh, 60px);
    background-color: $color-light;
    display: flex;
    justify-content: space-around;
    img {
        height: 3em;
    }
    a {
        height: 100%;
        font-size: $font-size-medium;
        min-width: 80px;
        @include flex-absolute-center;
        text-decoration: none;
        color: $color-dark;
        transition: $transition-slow;
    }
}
.navigation-pages {
    align-items: center;
    a {
        img {
            height: 2em;
        }
        &:hover {
            transform: scale(140%);
        }
    }
}
.navigation-categories {
    a {
        width: 20%;
        &:hover {
            background-color: $color-light-alt;
        }
    }
}