* {
    margin: 0;
    padding: 0;
}
*::-webkit-scrollbar {
    display: none;
}
body {
    background-color: rgb(14, 22, 33);
}
nav {
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
}
nav > a {
    text-align: center;
    width: 20%;
    text-decoration: none;
    color: darkgray;
    background-color: rgb(31, 41, 54);
}
form {
    margin: 0% 38%;
    color: white;
}
button {
    border: none;
    color: black;
    background-color: rgb(118, 140, 158);
    border-radius: 3rem;
    padding: 5% 29%;
    margin-top: 10px;
    cursor: pointer;
}
input {
    color: white;
    cursor: pointer;
    border: none;
    margin-bottom: 20px;
    background-color: rgb(36, 47, 61);
    padding: 5% 20%;
    border-radius: 3rem;
}
input::placeholder {
    color: rgb(94, 183, 247);
}
h1 {
    margin: 20px 0;
    color: white;
    text-align: center;
}
input {
    border: none;
}