body {
    background-attachment: fixed;
    background-position: center;
    background-size: 101%;
    background-repeat: no-repeat;
}
#tovary {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}
#search-form {
    margin: 10px 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5px;
}
.tovar {
    box-shadow: black 2px 2px 6px;
    display: grid;
    color: black;
    background-color: rgba(0, 255, 0, 0.25);
    padding: 20px;
}
button, #search-input {
    border-radius: 1rem;
    background-color: rgba(0, 255, 0, 0.5);
    border: none;
    font-size: 30px;
    padding: 10px;
}
button {
    grid-column: 4;
}
#search-input {
    grid-column: 3;
}
main > a {
    font-size: 30px;
}