*::-webkit-scrollbar {
    display: none;
}
*::-moz-scrollbar {
    display: none;
}
* {
    padding: 0;
    margin: 0;
    user-select: none;
}
nav {
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
}
nav > a {
    padding: 10px 0px;
    text-align: center;
    width: 20%;
    text-decoration: none;
    color: darkgray;
    background-color: rgb(31, 41, 54);
}