@font-face {
    font-family: 'Comfortaa';
    src: url(../fonts/Comfortaa-Regular.woff2) format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Thin.woff2) format('woff2');
    font-weight: 400;
}
* {
    font-family: 'Comfortaa';
}