@mixin flex-absolute-center {
    text-align: center;
    align-self: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
}