// border-radiuses
$border-radius-small: 5px;
$border-radius-medium: 10px;
$border-radius-large: 20px;
// colors
$color-light-alt: #bbbbbb;
$color-accent: #7F29BB;
$color-shadow: rgba(39, 39, 39, 0.4);
$color-light: #F2F2F2;
$color-dark: #272727;
// font-weigh's
$font-weight-small: 200;
$font-weight-medium: 400;
$font-weight-large: 600;
// shadows
$shadow-small: 2px 2px 2px $color-shadow;
$shadow-medium: 4px 4px 4px $color-shadow;
$shadow-large: 6px 6px 6px $color-shadow;
// font-sizes
$font-size-small: 20px;
$font-size-medium: 40px;
$font-size-large: 60px;
$font-size-larger: 80px;
$font-size-largest: 100px;