// border-radiuses
$border-radius-small: 5px;
$border-radius-medium: 10px;
$border-radius-large: 15px;
// colors
$color-light-alt: #bbbbbb;
$color-accent: #7F29BB;
$color-accent-alt: #652196;
$color-shadow: rgba(39, 39, 39, 0.4);
$color-light: #F2F2F2;
$color-dark: #272727;
// font-weigh's
$font-weight-small: 200;
$font-weight-medium: 400;
$font-weight-large: 600;
// shadows
$shadow-small: 0px 0px 5px $color-shadow;
$shadow-medium: 0px 0px 10px $color-shadow;
$shadow-large: 0px 0px 20px $color-shadow;
// font-sizes
$font-size-small: 10px;
$font-size-medium: 20px;
$font-size-large: 40px;
$font-size-larger: 60px;
$font-size-largest: 80px;
// transitions
$transition-fast: 0.2s;
$transition-medium: 0.4s;
$transition-slow: 0.6s;