form {
    margin: 0% 38%;
}
button {
    border-radius: 10px;
    border: none;
    color: black;
    background-color: #AAD7D9;
    padding: 5% 12.7%;
    margin-top: 10px;
    cursor: pointer;
}
input {
    border-radius: 10px;
    cursor: text;
    border: none;
    margin-bottom: 20px;
    background-color: #AAD7D9;
    padding: 5% 20%;
}
input::placeholder {
    font-size: 20px;
    color: black;
}
input[type=radio] {
    cursor: pointer;
}
h1 {
    margin: 20px 0;
    text-align: center;
}