@import '../../general/variables';
.autorization {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    form {
        border: {
            top: 2px solid $color-accent;
        }
        padding: 0 8px;
        background-color: $color-light;
        height: 50vh;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        span {
            height: 20%;
            display: flex;
            justify-content: space-around;
            button {
                font-size: $font-size-medium;
                border: none;
                background-color: $color-accent-alt;
                color: white;
                width: 50%;
                height: 100%;
                transition: $transition-medium;
                &:hover {
                    background-color: $color-accent;
                }
            }
        }
        input {
            border: 1px solid black;
            min-height: 20%;
            transition: $transition-medium;
            background-color: $color-light;
            border: none;
            font-size: $font-size-medium;
            &::placeholder {
                color: $color-dark;
            }
            &:hover {
                background-color: $color-light-alt;
            }
            &:focus {
                outline: none;
                border: none;
            }
        }
    }
}